.task
bin
frontend/dist
frontend/dist-lite
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
build/ios/xcode/
build/android/overlay.json
build/android/gen/
build/android/build
build/android/app/build/
build/android/app/src/main/jniLibs
frontend/.bindings-tmp*
build/android/.gradle/
*.zip
*.exe
*.ps1
*.syso
*.car
.wiki/
